<div class="listView">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>List View</h1>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Create List
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Share List
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Delete List
    </button>
  </div>


  <div class="list">
    <h2>{{ list.name }}</h2>
      <div class="taskName" >
        <ul>
          <li ng-repeat="task in list.tasks">
            <h3>{{ task.name}}</h3>
            <div ng-repeat="key in basicTaskKeys">
              {{ key }} : {{ task[key] }}
          </li>
        </ul>
      </div>
  </div>

</div> <!-- /container -->