<div>
	<input type="text" ng-model="listName" placeholder="new list name">
	<button ng-click="createList(listName)">Create</button>
</div>
<ul>
	<li ng-repeat="list in lists"><span ng-click="displayTasks($index)">{{list.name}}</span><span ng-click="deleteList($index)">   [delete]</span></li>
</ul>
<hr />
<h1> Tasks list <span ng-show="tasks">: {{tasks.name}}</span></h1>
<p ng-hide="tasks"> No task selected</p>
<div ng-show="tasks" class="taskDisplay">
  <form ng-submit="addTask(index, newTaskName, newTaskDetails, newTaskLowPriority)">

  	<input type="text" ng-model="newTaskName" placeholder="enter a task to add">

    <br><br>

    <input type="text" ng-model="newTaskDetails" placeholder="enter details">

    <br><br>

    Priority: 

    <input type="radio" id="radioHigh" name="priority" value="off" class="mdl-radio__button" ng-model="newTaskLowPriority">
    <span class="mdl-radio__label">Low</span>

    <input type="radio" id="radioHigh" name="priority" value="off" class="mdl-radio__button">
    <span class="mdl-radio__label">High</span>
    
    <br><br>
    <button type="submit" value="Create Task">Create Task</button>
  </form>
</div>

<ul ng-show="tasks">
	<li ng-repeat="task in tasks.tasks">{{task}}</li>
</ul>