    <div class="container">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>List View</h1>
        <a class="btn btn-default" href="#" role="button">Create List</a>
        <a class="btn btn-default" href="#" role="button">Share List</a>
        <a class="btn btn-default" href="#" role="button">Delete List</a>
      </div>
      <div class="list">
        <h2>{{ currentListData.name }}</h2>
        <div class="task">
          <div class="taskName" >
            <ul>
              <li ng-repeat="task in currentListData.tasks">
                {{ task }}
                <div ng-repeat="key in basicTaskKeys">
                  {{ key }} : {{ task[key] }}
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div> <!-- /container -->