<div class="listView">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>List View</h1>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Create List
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Share List
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Delete List
    </button>
  </div>


  <div class="list">
    <a class="mdl-navigation__link" ui-sref="list">
    <h2>{{ currentListData.name }}</h2></a>

    <div class="task">
      <div class="taskName" >
        <ul>
          <li ng-repeat="task in currentListData.tasks">
            <div class="taskBody">
              <div>
                <label for="checkbox_" class="mdl-checkbox mdl-js-checkbox">
                  <input type="checkbox" ng-model="task.done" class="mdl-checkbox__input">
                  <span class="mdl-checkbox__label">{{ task.name }}</span>
                </label>
                </div>
              <div class="taskInfo">
                <div ng-repeat="key in basicTaskKeys">
                  {{ key }} : {{ task[key] }}
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /container -->